<div id="contactForm">
    <h2 id="contactTitle">Contact the Developer!</h2>
    <hr>
      <%= form_for @message, url: create_message_url do |f| %>
      <%= notice %>
      <%= @message.errors.full_messages.join(', ') %>

      <div class="form-group">
        <%= f.label "Your Email address:" %>
        <%= f.email_field :email, autofocus: true, class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.label "Your Message:"%>
        <%= f.text_area :name, autofocus: false, class: "form-control", required: true%>
      </div>
      <div>
        <%= f.submit "Send email!", class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
</div>