<%= form_with(model: echo, local: true) do |form| %>
  <% if echo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(echo.errors.count, "error") %> prohibited this echo from being saved:</h2>

      <ul>
      <% echo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <%= form.label :title %><br>
    <%= form.text_field :title, class: "form-control" %>
  </div>
<div class="form-group">
    <%= form.label :Content %><br>
    <%= form.text_area :primary, class: "form-control"%>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Make it heard", class: "btn btn-kg btn-primary" %>
  </div>
<% end %>