<% @echos.each do |echo| %>
  <div class="link row clearfix">
    <h2>
        <%= link_to echo.title, echo %><br>

        <div>
          <% if echo.content.length > 100 -%>
            <%= truncate(echo.content, length: 100) %>
            <%= link_to '...Read more', echo %><br>
          <% else %>
            <%= echo.content %>
          <% end %>
        <div>
        
        <small class="author">Submitted <%= time_ago_in_words(echo.created_at) %> by <%= echo.user.email %></small>
    </h2>
  </div>
  <% end %>

